
/* label{
    background-color: aqua;
    margin: 5px;
    width: 50px;
    height: 50px;
    padding: 1px;
    border: 1px solid;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
}

.flexbox-container{
    display: flex;
    justify-content: center;
    flex-shrink: 0;
} */

h1{
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

label{
    border: 2px solid #D3D3D3;
    background-color: white;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin: 3px;
    width: 50px;
    height: 50px;
}

input{
    border: 2px solid #D3D3D3;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin: 3px;
}

.flex-container{
    display: flex;
    justify-content:center;
}
